<h1>Edit Existing Book</h1>
<p>Please enter the title the book you would like to edit</p>
<form name="input" action="/users/edit" method="post">
Email: <input type="text" name="email"></br>
<p>Please enter the information you would like to update</p></br>
New First Name: <input type="text" name="first_name"></br>
New Last Name: <input type="text" name="last_name"></br>
New Email: <input type="text" name="newemail"></br>
<input type="submit" value="Submit">
</form>
