<h1>Create Book</h1>
<form name="input" action="/books/new" method="post">
Title:<input type="text" name="ti"></br>
Author First Name:<input type="text" name="fn"></br>
Author Last Name:<input type="text" name="ln"></br>
Description (optional):<input type="text" name="descr"></br>
Owner (default HackerSchool):<input type = "text" name = "owner"></br>
<input type="submit" value="Create">
</form>
