<h1>Search Book</h1>
<form name="input" action="/books/searchauthor" method="post">
<p>Search by Author First and Last Name</p>
Author First Name:<input type="text" name="fn"></br>
Author Last Name:<input type="text" name="ln"></br>
<input type="submit" value="Search">
</form>

<form name="input" action="/books/searchtitle" method="post">
<p>OR Search by Title</p>
Title: <input type="text" name="ti"></br>
<input type="submit" value="Search">
</form>
