<h1>Delete User</h1>
<p>Please enter the email of the user you would like to delete</p>
<form name="input" action="/users/delete" method="post">
Email: <input type="text" name="email"></br>
<input type="submit" value="Delete">
</form>
