<h1>Welcome to the Library Catalog!</h1>
<p>What would you like to do?</p>

<p>Books</p>
<a href="/books/list">Books Catalog</a></br>
<a href="/books/search">Search for Books</a></br>
<a href="/books/new">Add New Book to Library</a></br>

<p>Transactions</p>
<a href="/trans/checkout">Check Out a Book</a></br>
<a href="/trans/return">Return a Book</a></br>
<a href="/trans/search">Search by User or Book</a></br>
<a href="/trans/list">List Transaction History</a></br>
<a href="/trans/listactive">List All Active Transactions</a></br>

