<h1>Welcome to the Library Catalog!</h1>
<p>What would you like to do?</p>

<p>Users</p>
<a href="/users/list">Users Catalog</a></br>
<a href="/users/search">Search users</a></br>
<a href="/users/create">Create new user</a></br>
<a href="/users/edit">Edit existing users</a></br>
<a href="/users/delete">Delete user</a></br>

<p>Books</p>
<a href="/books/list">Books Catalog</a></br>
<a href="/books/search">Search for Books</a></br>
<a href="/books/new">Add New Book to Library</a></br>
<a href="/books/edit">Edit Existing Book</a></br>

<p>Transactions</p>
<a href="/trans/checkout">Check Out a Book</a></br>
<a href="/trans/return">Return a Book</a></br>
<a href="/trans/search">Search by User or Book</a></br>
<a href="/trans/list">List Transaction History</a></br>
<a href="/trans/listactive">List All Active Transactions</a></br>

<p>Subjects</p>
<a href="/subjects/list">List Subjects</a></br>
<a href="/subjects/maange">Manage Subjects</a></br>
