<html>
  <head>
    <a href="/index">Home</a>
  <% unless current_user %>
    <a href="/users/create">Create a New User</a>
    <a href="/login">Login</a>
  <% else %>
    "Welcome "<%= current_user.email %>"!"
    <a href="/logout">Logout</a>
  <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

