<h1>Search User</h1>
<form name="input" action="/users/searchname" method="post">
<p>Search by First and Last Name</p>
First Name:<input type="text" name="first_name"></br>
Last Name:<input type="text" name="last_name"></br>
<input type="submit" value="Search">
</form>

<form name="input" action="/users/searchemail" method="post">
<p>OR Search by Email</p>
Email: <input type="text" name="email"></br>
<input type="submit" value="Search">
</form>
