<form name="input" action="/users/search" method="post">
First Name:<input type="text" name="firstname">
Last Name:<input type="text" name="lastname">
Email: <input type="text" name="email">
<input type="submit" value="Submit">
</form> 
