<h1>User Information for user ID: <%= @book.id%></h1>
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>
<p>
  <b>Author First Name:</b>
  <%= @book.author_first_name %>
</p>
<p>
  <b>Author Last Name::</b>
  <%= @book.author_last_name %>
</p>

