<h1>Create User</h1>
<form name="input" action="/users/create" method="post">
First Name:<input type="text" name="first_name"></br>
Last Name:<input type="text" name="last_name"></br>
Email:<input type="text" name="email"></br>
<input type="submit" value="Create">
</form>
