<h1>Search Transactions</h1>

<p>By User</p>
<form name="input" action="/trans/searchuser" method="post">
Email: <input type="text" name="em">
<input type="submit" name="Submit">
</form>

<p>By Book</p>
<form name="input" action="/trans/searchbook" method="post">
Title: <input type="text" name="ti">
<input type="submit" name="Submit">
</form>
