<h1>Sorry Error!</h1>
<p>This transaction cannot be created. Either there are no copies left for the book you want to borrow or you have not checked out the book you are trying to return! Try another book or check the <a href="/trans/listactive">Transaction List</a> to see who has it!</p>
